.cat-description {
  margin-top: 10px;
}
.cat-description * {
  box-sizing: border-box;
}
.cat-description .seo-cat-gallery {
  display: flex;
  flex-wrap: wrap;
}
.cat-description .seo-cat-gallery-item {
  width: calc(10% - 10px);
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 992px) {
  .cat-description .seo-cat-gallery-item {
    /*width: ~'calc(25% - 10px)';*/
    width: 25%;
  }
}
.cat-description .seo-cat-gallery-item img {
  max-width: 100%;
  /*max-height: 100%;*/
  min-height: 40px;
  width: 100%;
  cursor: pointer;
}
.cat-description .seo-cat-gallery-item a {
  display: block;
  max-height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  border: solid 2px #369;
}
.cat-description .seo-cat-gallery-item a:hover {
  border-color: #c00;
}
.cat-description .seo-current-cut-text {
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 1.4em;
  font-size: 1.2em;
}
.cat-description .seo-current-cut-text .seo-thumb {
  float: right;
  /*width: 30%;*/
  height: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}
.cat-description .seo-current-cut-text .seo-thumb:hover img {
  outline-color: #c00;
}
.cat-description .seo-current-cut-text .seo-thumb img {
  max-width: 100%;
  outline: solid 2px #369;
  max-width: 300px;
  max-height: 300px;
  float: right;
}
.cat-description .seo-current-cut-text h2 {
  padding: 0.5em;
  font-family: verdana, sans-serif;
  font-size: 22pt;
  line-height: 1.125em;
  clear: both;
  text-transform: uppercase;
  font-weight: 400;
}
.cat-description .seo-current-cut-text h3 {
  font-family: verdana, sans-serif;
  font-size: 20pt;
  line-height: 1.125em;
}
.tab-content {
  font-family: Century Gothic, sans-serif;
  text-align: justify;
  line-height: 1.4em;
  font-size: 0.9em;
}
@media (max-width: 1024px) {
  .tab-content {
    overflow: scroll;
  }
}
.tab-content img {
  max-width: 100%;
  height: auto;
}
.tab-content .opisaniya > div {
  display: none;
}
.tab-content .opisaniya > div:first-child {
  display: inline;
}
.tab-content .dop_opcii > div {
  display: none;
}
.tab-content .dop_opcii > div:first-child {
  display: inline;
}
.tab-content .gabariti_var .item {
  display: none;
}
.tab-content .gabariti_var .item:first-child {
  display: inline;
}
ul.nav-tabs {
  list-style: none;
  display: flex;
  padding-left: 0px;
  border-bottom: solid 1px #000;
  align-items: flex-end;
}
@media (max-width: 992px) {
  ul.nav-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
ul.nav-tabs li {
  border-bottom: 1px solid white;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  font-size: 0.9em;
  font-family: Century Gothic, sans-serif;
  margin: 2px 0.5em -1px 0;
  text-transform: uppercase;
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  background: #026eb6;
  color: #fff;
  text-align: center;
}
ul.nav-tabs li a {
  color: inherit;
  text-decoration: none;
}
ul.nav-tabs li a.active {
  color: white!important;
  border: 0px solid white!important;
  background-color: #ea1d24!important;
}
ul.nav-tabs li .nav-link {
  padding: 0px 8px;
  font-size: 12px;
}
@media (max-width: 992px) {
  ul.nav-tabs li {
    margin-right: 0px;
    margin-left: 0px;
    width: calc( 50% - 10px );
  }
  ul.nav-tabs li:nth-child(even) {
    margin-left: 10px;
  }
  ul.nav-tabs li:nth-child(odd) {
    margin-right: 10px;
  }
}
ul.nav-tabs li.active-page {
  border-bottom: solid 1px #ea1d24 !important;
  background: #ea1d24 !important;
}
h3 {
  font-size: 14.4px;
  line-height: 1.125em;
}
