body {
	font-family: 'Times New Roman', Times, serif;
	margin-top:4px !important;
}

h1,
#page-container h1, .tab-content h1 { font-size: 42pt; text-align: center; }

h2, #page-container h2, .tab-content h2 {
	padding: 0.5em;
	font-size: 22pt;
	line-height: 1.125em;
	text-transform: uppercase;
	text-align: center;
}

h3, #page-container h3, .tab-content h3 {
	font-size: 18pt;
	line-height: 1.6em;
	text-transform: uppercase;
}

h4, #page-container h4, .tab-content h4 {
	padding: 0.5em;
	font-size: 15pt;
	line-height: 1em;
	text-transform: uppercase;
}

h1, #page-container h1, .tab-content h1,
h2, #page-container h2, .tab-content h2,
h3, #page-container h3, .tab-content h3,
h4, #page-container h4, .tab-content h4 {
	font-family: verdana, sans-serif !important;
	margin: 0;
	font-weight: 400;
}

@media only screen and (max-width : 480px) {
	h1, #page-container h1, .tab-content h1 { font-size: 34pt; }
	h2, #page-container h2, .tab-content h2 { font-size: 18pt; }
	h3, #page-container h3, .tab-content h3 { font-size: 15pt; }
	h4, #page-container h4, .tab-content h4 { font-size: 12pt; }
}


a {
	&:link { color: #026eb6; text-decoration: none; }
	&:visited { color: #026eb6; text-decoration: none; }
	&:hover { color: #ff4444; text-decoration: underline; }
	&:active { color: #026eb6; text-decoration: none; }
}

@media(max-width:992px){
	.n2-ss-section-main-content n2-ss-layer-content{
		padding: 0.625em 2.625em 0.625em 4.6875em!important;
	}
}

.reseted-ul-list {
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
	}
	.reseted-link {
		color: inherit;
		text-decoration: none;
	}
	.reseted-link:hover {
		text-decoration: none;
		color: inherit;
	}
	.reseted_p {
		margin-bottom: 0px;
	}
	.page_title {
		font-family: 'Times New Roman', Times, serif;
		padding: 8px;
		font-size: 1.32em;
		line-height: 1.5em;
		border-bottom: solid 1px #999;
		text-align: center;
		margin-bottom: 0;
	}

	.header-block {
	font-family: 'Times New Roman', Times, serif;
	}
	.header-block a {
		color: inherit;
		text-decoration: none;
	}

	.header-block .logo a {
		display: flex;
		align-items: center;
	}
	@media (max-width: 768px) {
		.header-block .logo a {
			justify-content: center;
			margin-top: 5px;
		}
	}
	.header-block .logo a span {
		margin-left: 5px;
	}
	@media (max-width: 768px) {
		.header-block .logo a span {
			display: none;
		}
	}
	.header-block .logo a span ul {
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
	}
	.header-block .logo a span ul li {
		line-height: 20px;
	}
	.header-block .nav-menu ul {
		margin-top: 2px;
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
		display: flex;
		font-size: 1em;
	}
	@media (max-width: 768px) {
		.header-block .nav-menu ul {
			justify-content: center;
		}
	}
	.header-block .nav-menu ul li {
		margin-right: 24px;
		text-decoration: underline;
		font-size: 17px;
		letter-spacing: -0.5px;
	}

	@media (max-width: 768px) {
		.header-block .phones {
			display: none;
		}
	}
	.header-block .phones p {
		margin-bottom: 0px;
		text-align: right;
	}
	.header-block .phones p:first-child {
		font-size: 24px;
		line-height: 34px;
		color: #333;
	}
	.header-block .phones p:nth-child(2) {
		color: #000;
		font-size: 1.20em;
	}
	.header-block .socials {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	@media (max-width: 768px) {
		.header-block .socials {
			justify-content: center;
			margin-top: 5px;
		}
	}
	.header-block .socials img {
		max-width: 24px;
	}

	.header-block .socials .zapros {
		border-radius: 3px;
		color: #fff;
		text-decoration: none;
		background: #1c9bef;
		padding: 2px 5px;
	}

	@media screen and (min-width: 768px) and (max-width: 1200px) {
		.socials__links { display: none; }
	}

	.stall a:hover {
		text-decoration: none;
		color: inherit;
	}
	.stall a:hover {
		border: 1px solid red;
	}
	.stall a:hover h3 {
		color: red;
	}
	.stall ul {
		overflow: hidden;
		text-align: center;
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
	}
	.stall ul img {
		max-width: 100%;
	}
	.textedfooter .wtf {
		display: flex;
		justify-content: center;
		border-top: 1px solid grey;
		font-family: 'Times New Roman', Times, serif;
		margin: 1em 0;
		font-size: 0.9em;
		text-align: center;
	}
	.textedfooter .wtf ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
	}

	/* stall item styles */
	.stall_inner .card_item .link > div:nth-child(1) {
		border-right: 1px solid grey;
		width: 25%;
		overflow: hidden;
	}
	.stall_inner .card_item .link > div:nth-child(2) {
		width: 75%;
	}
	.stall_inner .card_item .link:hover {
		text-decoration: none;
		color: inherit;
	}
	.stall_inner .card_item ul {
		font-family: 'Times New Roman', Times, serif;
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
	}
	/*.stall_inner .card_item ul li:nth-child(2) {
		font-size: 13px;
		padding: 0 8px 8px 8px;
	}
	.stall_inner .card_item ul li:nth-child(1) {
		padding-left: 8px;
		padding-bottom: 7px;
		font-size: 14px;
		text-decoration: underline;
		color: #026eb6;
	}
	.stall_inner .card_item ul li:nth-child(1):hover {
		color: #ea1d24;
	}*/
	.goods_properties .properties_table {
		font-family: 'Times New Roman', Times, serif;
		font-size: 15px;
	}
	.goods_properties .properties_table p {
		text-align: center;
		background: #acf;
		margin: 0;
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-left: 1px solid black;
	}
	.goods_properties .properties_table ul {
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
		display: flex;
		justify-content: space-between;
	}
	.goods_properties .properties_table ul li {
		width: 12.5%;
		text-align: center;
		background: #026eb6;
		border: 1px solid black;
		color: white;
		cursor: pointer;
	}
	.goods_properties .properties_table ul li:hover {
		background: #ea1d24;
	}
	.product_menu .nav-tabs {
		border-bottom: 1px solid black;
	}
	.product_menu .nav-tabs .nav-item {
		text-align: center;
		text-transform: uppercase;
		line-height: 8px;
		margin: 2px 0.5em -1px 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		cursor: pointer;
		background: #026eb6;
		border: 1px solid black;
	}
	.product_menu .nav-tabs .nav-item .nav-link {
		border: none;
	}
	.product_menu .nav-tabs .nav-item .nav-link.active {
		background: #ea1d24;
		width: 100%px;
	}
	.product_menu .nav-tabs .nav-item a {
		font-family: 'Times New Roman', Times, serif;
		font-size: 15px;
		color: white;
	}

	.parameters__table {
		width: 100%;
		text-align: left;
	}

	.about_company {
		font-family: 'Times New Roman', Times, serif;
		font-size: 14px;
	}
	.about_company .title {
		text-decoration: underline;
		text-transform: uppercase;
		padding: 7px;
		margin-bottom: 5px;
	}
	.about_company .description {
		text-align: justify;
		line-height: 22px;
		padding: 0 7px 7px 7px;
	}
	.contacts .contact_phones {
		font-family: 'Times New Roman', Times, serif;
		font-size: 14px;
	}
	.contacts .contact_phones h2 {
		font-family: 'Times New Roman', Times, serif;
		font-size: 14px;
		padding: 7px;
		text-decoration: underline;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.contacts .contact_phones a {
		text-decoration: underline;
		color: #4444ff;
	}
	.contacts .contact_phones p {
		padding: 0 7px;
		margin-bottom: 0;
	}
	.contacts .contact_phones p:last-child {
		padding-bottom: 7px;
	}
	.request .image {
		height: 196px;
	}
	.request .image img {
		max-height: 100%;
	}
	.request .button ul {
		font-family: 'Times New Roman', Times, serif;
		font-size: 14px;
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
		text-align: center;
	}
	.request .button ul li {
		padding: 0px 7px;
	}
	.request .button ul li .zapros {
		line-height: 32px;
		padding: 3px 5px;
		border-radius: 3px;
		color: #fff;
		text-decoration: none;
		background: #026eb6;
	}
	.request .button ul li .pricing {
		color: #4444ff;
	}

	.request .button ul li .articul {
		font-size: 18px;
	}
	.request .button ul li .price {
		color: #f00;
		font-size: 25px;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		color: white!important;
		background-color: #ea1d24!important;
		border-color: transparent!important;
	}
#n2-ss-2-placeholder{
	display: none;
}

.n2-ss-margin #n2-ss-2-align .n2-padding #n2-ss-2 .n2-ss-slider-1 .n2-ow{
	text-shadow: 1px 1px 3px #000!important;
}

.seo-current-cut-text p {
	padding: 0 0.5em 0.5em 0.5em;
}
.seo-current-cut-text h3 {
	padding: 0.5em;
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
}

.textPic {display:block; position: relative; float: right; transition: all 1s ease; outline:solid 2px #369; margin:5px;}
	.textPic:hover {outline-color:#c00;}
	.textPicB { max-width: 300px; max-height: 300px; cursor:zoom-in; clear:both;}
	.textPicS { height: 40px; cursor:pointer;}
	#ppic {display:flex;position:relative;float:left; width:calc(50% - 10px); margin:5px; height:235px;align-items:flex-end; justify-content:flex-start; flex-flow:row wrap-reverse;}
	#ppic img { height:31px; width: auto; margin:2px; box-shadow:0 0 0 1px #4444ff; cursor:pointer; order:2;}
	#ppic a { order:2; padding:0; margin:0;}
	#ppic .ppicsel {height:196px; width: auto; order:1; box-shadow:none !important; padding:0 200px 0 0; }
	
	#picvwrap {position:fixed;width:100%;height:100%; z-index:10;align-items:center; justify-content:center;top: 0;}
	#picvshade {position:absolute;width:100%;height:100%;top:0; left:0;background:#000;opacity:0.9;}
	#picv {position:relative;max-width:100%;height:auto;max-height:calc(100% - 124px);}
	.piccontr {position:absolute;width:38px; height:38px;border-radius: 25px; border:solid 2px #fff; text-align:center; line-height:38px; bottom:10px; left:calc(50% - 80px); color:#fff; font-size:1.5em; opacity:0.8; cursor:pointer;}
	.piccontr:hover {opacity:1;}
	.piccontr+.piccontr {left:calc(50% - 20px);}
	.piccontr+.piccontr+.piccontr {left:calc(50% + 40px);}
	hr{
		margin: 2px 0px 2px 0px;
		color: #999999;
		background-color: #999999;
		border: 0px none;
		height: 1px;
		clear: both;
	}
	.seo-header1{
		position: fixed;
		top: -500px;
	}
	.t10{
		font-size: 14px;
	}
	#sent {background:#aaffaa; text-align:center; padding:1em; margin:1em 0;}




	/*Нумерованные списки */
.num-list,
.cat-description ol,
.entry-content ol,
.seo-current-cut-text ol,
.tab-content ol {
	counter-reset: li; 
	list-style: none; 
	font-size: 14px;
	padding: 15px 0 15px 45px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.num-list li,
.cat-description ol li,
.entry-content ol li,
.seo-current-cut-text ol li,
.tab-content ol li {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	background: #D3D4DA;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: .3s ease-out;
}
.num-list li:hover,
.cat-description ol li:hover,
.entry-content ol li:hover,
.seo-current-cut-text ol li:hover,
.tab-content ol li:hover {background: #DCDDE1;}

.num-list li:hover:before,
.cat-description ol li:hover:before,
.entry-content ol li:hover:before,
.seo-current-cut-text ol li:hover:before,
.tab-content ol li:hover:before {transform: rotate(360deg);}

.num-list li:before,
.cat-description ol li:before,
.entry-content ol li:before,
.seo-current-cut-text ol li:before,
.tab-content ol li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #026eb6;
	color: #fff;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid white;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
	box-sizing: content-box;
}

/* Маркированный список */
.mark-list,
.cat-description ul,
.entry-content ul,
.seo-current-cut-text ul,
.tab-content ul {
	list-style: none;
	padding: 15px 0 15px 20px;
}

.mark-list li,
.cat-description ul li,
.entry-content ul li,
.seo-current-cut-text ul li,
.tab-content ul li {
	padding: 7px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-left: 10px solid #f05d22; 
	box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
			 -2px -2px 5px 0 rgba(0,0,0,.1),
			2px 2px 5px 0 rgba(0,0,0,.1),
			-2px 2px 5px 0 rgba(0,0,0,.1);
	font-size: 14px;
	transition: 0.3s all linear;
}
.mark-list li,
.cat-description ul li,
.entry-content ul li,
.seo-current-cut-text ul li,
.tab-content ul li {border-color: #026eb6;}

.mark-list li:hover,
.cat-description ul li:hover,
.entry-content ul li:hover,
.seo-current-cut-text ul li:hover,
.tab-content ul li:hover {border-left: 10px solid transparent;}

.mark-list li:hover,
.cat-description ul li:hover,
.entry-content ul li:hover,
.seo-current-cut-text ul li:hover,
.tab-content ul li:hover {border-right: 10px solid #026eb6;}
